<!doctype html>
<html lang="fr">
    
    <head>
        <% include partials/head %>
    </head>

    <body class="container" style="padding-top: 15px;">
        <div>
            <h1>Welcome to the Home page :</h1>
            <p> Your informations :</p>
            <h2> <%= user.email %> </h2>
            <h2> <%= user.password %> </h2>
            <form name="logout" method="GET" action= "/">
                <input class="text-danger" type="submit" value="Log Me Out !" ></td>
            </form>

            <div class="col-lg-6 col-md-offset-3">
                <div class="jumbotron">    
                    <h1> Delete your Account </h1>         
                    <form name="delete" method="post" action= "<%= '/user/delete/' +  token %>">
                        <input class="text-danger" type="submit" value="Delete this Account" ></td>
                    </form>
                    <h1> Update your informations </h1>
                    <form name="update" method="post" action= "<%= '/user/update/' +  token %>">
                        <table>
                            <tr>
                            <td>New Email</td>
                            <td><input type="text" name="newEmail" ></td>
                            </tr>
                            <tr>
                            <td>New Password</td>
                            <td><input type="text" name="newPassword"></td>
                            </tr>
                            <tr>
                            <td colspan="2"><input class = "text-success" type="submit" value="Update" ></td>
                            </tr>
                        </table>
                    </form>
                    <h1> Add a metric </h1>
                    <form name="addMetric" method="post" action= "<%= '/metrics/add/' +  token %>">
                        <table>
                            <tr>
                            <td>Value</td>
                            <td><input type="text" name="value" ></td>
                            </tr>
                            <tr>
                            <td colspan="2"><input class = "text-success" type="submit" value="Add this Metric" ></td>
                            </tr>
                        </table>
                    </form>
                </div>  
            </div>

            <p> Your metrics :</p>
            <ul class="metrics">
                    <% for (var i = 0; i < user.metrics.length; i++) { %>
                    <li class="metric-line">
                        <div>
                            <span class="metric-value" style="text-align:left">
                            <h4> Value:  <%= user.metrics[i].value %> </h4> </span>
                            <span class="metric-date" style="text-align:left">
                            <h4> Date of creation: <%= user.metrics[i].date  %> </h4></span>

                            <form name="deleteMetric" method="post" action= "<%= '/metrics/delete/' +  token %>">
                                <input type="hidden" name="metricID" value="<%= user.metrics[i].id %>">
                                <input class = "text-danger" type="submit" value="Delete this Metric" >
                            </form>

                            <form name="updateMetric" method="post" action= "<%= '/metrics/update/' +  token %>">
                                <input type="hidden" name="metricID" value="<%= user.metrics[i].id %>">
                                Change the value: <input type="text" name="newValue" >
                                <input class = "text-warning" type="submit" value="Update this Metric" >
                            </form>
                        </div>
                    </li>
                    <% } %>
                </ul>

        </div>
    </body>
</html>
